.file-list .files-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.files {
    overflow: hidden;
    overflow-y: auto;
    width: 500px;
    height: 300px;
}

#fileToUpload {
    height: 0px;
    width: 0px;
}