<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeunesse de Porsel</title>
    <link rel="icon" type="image/png" href="images/logo.png" />
    <link rel="stylesheet" href="css/maintenance.css" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  
  </head>
  
  <body>
    <div class="yellow">
      <div class="spacer layer2"></div>
      <section class="center">
        <h1>JEUNESSE DE PORSEL</h1>
        <p>Le site est malheureusement en maintenance!</p>
        <div class="sm">
          <a target="blank" href="https://fr-fr.facebook.com/pages/category/Company/Jeunesse-Porsel-1484975611820128/"
            class="fab fa-facebook-f fa-3x icon"></a>
          <a target="blank" href="https://www.instagram.com/jeunesse_porsel/" class="fab fa-instagram fa-3x icon"></a>
          <a href="mailto:info@jeunessedeporsel.ch?subject=Question?" class="far fa-envelope fa-3x icon"></a>
        </div>
      </section>
      <div class="spacer layer1"></div>
      <div class="grey">
        <p> &copy; 2022 | Created & Designed By <a class="link" href="https://www.paschek.emf-informatique.ch">PascheK</a></p>
      </div>
    </div>
  </body>
  </html>