<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Jeunesse de Porsel</title>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link rel='stylesheet' type='text/css' media='screen' href='css/test.css'>

</head>

<body>
  <div class="nav">
    <nav>
      <ul>
        <div class="menu">
          <div class="menu-left">
            <h1>Jeunesse de Porsel</h1>
          </div>
          <div class="menu-center">
            <li><a href="#">Théâtre</a></li>
            <li><a href="#">Fête traditionnelle</a></li>
          </div>
          <div class="menu-right">
            <a href="#">Connexion</a>
          </div>

        </div>

      </ul>
    </nav>
    <div class="spacer layer1"></div>
  </div>
  <div class="main">
    <div class="event-t">
      <h1>Théatre</h1>
    </div>
    <div class="event-f">
      <h1>Fête traditionnelle</h1>
    </div>
  </div>
  <div class="footer">
    <div class="spacer layer2"></div>
    <footer></footer>
  </div>
</body>

</html>